<% if @todo.errors.blank? %>
	
	// Fill the right box with first todo details
	//$('#div_todo_details').html("<%#= escape_javascript(render(:partial=>'show')) %>");
	$('#div_todo_details').hide();
	$('#div_todo_<%= @todo.id %>_form').show();
  
	// Add the newly created item to the list
  $("#div_todo_collections").prepend("<div id=\"div_item_todo_<%= @todo.id %>\"><%= escape_javascript(render(:partial => 'item', :locals => { :todo => @todo })) %></div>")
  $("#div_todo_empty").hide();

<% else %>
	
	// Reload the form partial to display errors
  $('#div_todo_details').html("<%= escape_javascript(render(:partial=>'new')) %>");
  
  // Validate the form
  validateTodoForm();
  
  // Populate Server Side Errors
  errorMessages = <%= @todo.errors.full_messages.to_json.html_safe %>;
  populateServerSideErrors('todo', errorMessages);
  
<% end %>
