<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
	
		<title><%= title -%></title>
		
    <%= render :partial=>"/layouts/common/meta_tags" -%>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="/assets/favicon.ico" type="image/png">

    <%= stylesheet_link_tag "application", :media => "all" -%>

    <%= csrf_meta_tags -%>
    
				<script src="/assets/modernizr.2.6.2.js"></script>

  </head>

  <body>
		
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. 
			Please <a href="http://browsehappy.com/">upgrade your browser</a> or 
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> 
			to improve your experience.</p>
		<![endif]-->
		
		<div id="div_page_header" class="header-block">
    	<%= render :partial=>"/layouts/public/header" -%>
		</div>
		<div id="div_page_navbar" class="header-block">
    	<%= render :partial=>"/layouts/public/navbar" -%>
		</div>
		
		<%#* Show flash messages if controller has set any. %>
		<div id="div_flash_message">
			<%= render :partial=>"/layouts/common/flash_message" -%>
		</div>
		
    <div class="container-fluid padding-top-10" style="min-height:400px;">
      <%= yield %>
    </div>

    <%#* Display Footer -%>
    <%= render :partial=>"/layouts/public/footer" -%>
		
		<%#* Display Hidden Overlays -%>
    <%= render :partial=>"/layouts/common/overlays" -%>

		<%#* Loading Javascripts -%>
    <%= javascript_include_tag "application" -%>

    <script type='text/javascript'>
      <%= yield :javascript -%>
    </script>

  </body>
</html>
